<h1>
    <%= gravatar_for @user %>
    <p>Name:</p>
    <%= @user.name %>
    <p>Email:</p>
    <%= @user.email %>
    <p>Profile:</p>
    <%= @user.profile %>
    <p>Area:</p>
    <%= @user.area %>
    
</h1>